@import url('reset.css');

html {
	font-family:Tahoma, Arial, sans-serif;
	font-size:62.5%;
}

body {
	text-align:center;
}

h1 {
	font-size:6.0em;
	margin-top:50px;
	margin-bottom:50px;
}

h2 {
	font-size:3.8em;
}

p {
	margin:25px;
	font-size:2.2em;
}

div.box-container {
	width:1000px;
	padding:25px;
	margin:0 auto;
	border-top:3px solid #999999;
}