/**
 *	
 *	CSS Dependencies
 *
 */

@import url('reset.css');

/**
 *	
 *	HTML Document Styling
 *	
 */

html {
	font-size: 62.5%;
}

body {
	font-family: "Times New Roman";
	background: #336699 url('/images/bg-image.jpg') repeat-x top left;
	margin-top: 25px;
}

noscript {
	width:750px;
	margin:0 auto;
	display:block;
	color:red;
}

noscript div#noscript {
	width:700px;
	background-color:rgba(0,0,0,0.90);
	position:absolute;
	top:100px;
	z-index:99;
	text-align:center;
	padding:25px;
}

noscript h5 {
	font-size:3.8em;
}

noscript p {
	margin-top:15px;
	font-size:2.8em;
}

/**
 *
 *	Grid Layout
 *  12 Columns; 20px Gutter; 960px Max Width
 *
 */

.grid_1 { width:60px; }
.grid_2 { width:140px; }
.grid_3 { width:220px; }
.grid_4 { width:300px; }
.grid_5 { width:380px; }
.grid_6 { width:460px; }
.grid_7 { width:540px; }
.grid_8 { width:620px; }
.grid_9 { width:700px; }
.grid_10 { width:780px; }
.grid_11 { width:860px; }
.grid_12 { width:940px; }

.column { 
	margin: 0 10px;
	overflow: hidden;
	float: left;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.row { 
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.row .row {
	margin: 0 -10px;
	width: auto;
}

/**
 *
 *	Header Styling
 *
 */

div#header {
	text-align: center;
	color:#FFF;
	text-shadow:-1px 0px 2px #000000;
}

div#header a {
	color:inherit;
	text-decoration:none;
}

h1#site-name {
	font-size: 7.2em;
	display: inline;
	vertical-align:middle;
	position:relative;
	top:15px;
}

h2#site-slogan {
	font-size: 2.4em;
	position:relative;
	margin-top:15px;
}

img#site-logo {
	width:124px;
	height:109px;
	margin-left: 15px;
	vertical-align:middle;
}

/**
 *	
 *	Footer Styling
 *
 */

div#footer {
	text-align:center;
	color:#FFF;
	font-size:1.5em;
	font-weight:normal;
	margin-top:25px;
	padding:15px;
}

div#footer a {
	text-decoration:none;
	color:inherit;
}

div#footer a:hover { text-decoration:underline; }

ul#footer-link-list {
	list-style-type:none;
}

ul#footer-link-list li { 
	display:inline;
	padding:15px;
}