/**
 *
 *	Pages#welcome Stylesheet
 *
 */

div#page-welcome {
	margin-top:50px;
}

div#welcome-tiles {
	margin-top:50px;
	text-shadow:-1px 0px 2px #000000;
	color:#FFF;
}

div#welcome-tiles h3 {
	font-size:2.6em;
	margin-bottom:10px;
}

div#welcome-tiles p {
	font-size:1.8em;
	line-height:1.3em;
}

form#search-form {
	width:762px;
	height:51px;
	background:transparent url('/images/search-box-large-bg.png') no-repeat top left;
	margin:0 auto;
	padding-top:9px;
}

form#search-form label {
	display:none;
	visibility:hidden;
}

input#search-field {
	height:30px;
	width:700px;
	border:none;
	color:#CCCCCC;
	background-color:transparent;
	font-size:2.2em;
	line-height:25px;
	margin-left:10px;
}

input#search-submit {
	width:30px;
	height:30px;
	background:transparent url('/images/search-icon.png') no-repeat top left;
	border:none;
	color:transparent;
	margin-right:15px;
	position:relative;
	top:-5px;
}