<div id="main-search">
	<form id="search-form" method="post">
		<label for="search-query">Search:</label>
		<input type="text" id="search-box" name="search-query" title="Search CampusGPS" placeholder="Type a university, business, or other institution..."/>
		<input type="submit" id="search-submit" name="search-submit" value="Search" />
	</form>
</div>
<div id="welcome-tile-wrapper">
	<div class="welcome-tile">
		<h3 class="text-shadow">Tile One</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a justo tellus. Integer imperdiet nulla pharetra tortor pharetra iaculis in vel lectus. Cras consequat libero a massa sollicitudin in tincidunt neque scelerisque. 
		</p>
	</div>
	<div class="welcome-tile">
		<h3 class="text-shadow">Tile Two</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a justo tellus. Integer imperdiet nulla pharetra tortor pharetra iaculis in vel lectus. Cras consequat libero a massa sollicitudin in tincidunt neque scelerisque. 
		</p>
	</div>
	<div class="welcome-tile">
		<h3 class="text-shadow">Tile Three</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a justo tellus. Integer imperdiet nulla pharetra tortor pharetra iaculis in vel lectus. Cras consequat libero a massa sollicitudin in tincidunt neque scelerisque. 
		</p>
	</div>
	<br class="clear" />
</div>
