<div id="header">
  <h1 class="text-shadow">CampusGPS</h1>
  <img id="header-icon" src="/images/map-icon.png" alt="CampusGPS" />
  <h2 class="text-shadow">Every campus map you could need, in one place.</h2>
</div>
<div id="main-search">
  <form id="search-form" method="post">
    <input type="text" id="search-box" name="search-query" value="Christopher Newport University"/>
    <input type="submit" id="search-submit" name="search-submit" value="Search" />
  </form>
</div>
