<div id="main-search">
  <form id="search-form" method="post">
    <input type="text" id="search-box" name="search-query" value="Christopher Newport University"/>
    <input type="submit" id="search-submit" name="search-submit" value="" />
  </form>
</div>
<div id="welcome-main-content" class="autosize">
	<div class="tile">
		<h3 class="tile-title">Tile One</h3>
		<p>
			This is tile one.  Some stuff goes here.
		</p>
	</div>
	<div class="tile">
		<h3 class="tile-title">Tile Two</h3>
		<p>
			This is tile two.  Some stuff goes here.
		</p>
	</div>
	<br class="clear" />
</div>
