<% content_for :view_stylesheets do %>
	<%= stylesheet_link_tag "welcome" %>
<% end %>

<div id="page-welcome">
	<div class="row">
		<div class="column grid_12">
			<form id="search-form">
				<label for="search-query">Search:</label>
				<input type="text" id="search-field" name="search-query" placeholder="Type a company, business, or other institution..."/>
				<input type="submit" id="search-submit" value="Search" />
			</form>
		</div>
	</div>
	<div id="welcome-tiles" class="row">
		<div class="column grid_4">
			<h3>Tile Heading One</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
		</div>
		<div class="column grid_4">
			<h3>Tile Heading Two</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
		</div>
		<div class="column grid_4">
			<h3>Tile Heading Three</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
		</div>
	</div>
</div>
