<% title "Welcome" %>
<% requires_stylesheets "welcome" %>

<div id="page-welcome">
	<div class="row">
		<div class="column grid_12">
			<form id="search-form" method="get" action="<%= search_path %>">
				<label for="search-query">Search:</label>
				<input type="text" id="search-field" name="q" placeholder="Type a university or college's name..."/>
				<input type="submit" id="search-submit" value="Search" />
			</form>
		</div>
	</div>
	<div id="welcome-tiles" class="row">
		<div class="column grid_4">
			<h3>Get Started!</h3>
			<p>To find your campus, type it in the search box above. Or if you want to view all campuses, click <%= link_to "here", campuses_path %>.</p>
		</div>
		<div class="column grid_4">
			<h3>Powered by You!</h3>
			<p>All location data for a campus is provided by you the user!  Without you and your iOS device, CampusGPS wouldn't exist!</p>
		</div>
		<div class="column grid_4">
			<h3>On the Go</h3>
			<p>CampusGPS is also available for iOS! Use it when you are at a college that you are unfamiliar with. Get it today from the App Store for free!</p>
		</div>
	</div>
</div>
