<div id="header" class="row">
	<div class="column grid_12">
		<h1 id="site-name"><%= site_name %></h1>
		<img id="site-logo" src="/images/map-icon.png" alt="<%= site_name %>" />
		<h2 id="site-slogan"><%= site_slogan %></h2>
	</div>
</div>
