<div id="header">
  <a href="<%= root_path %>" alt="CampusGPS"><h1 class="text-shadow"><CampusGPS><%= site_name %></h1></a>
  <img id="header-icon" src="/images/map-icon.png" alt="CampusGPS" />
  <h2 class="text-shadow"><%= site_slogan %></h2>
</div>